@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #1B1D1F;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.button._fw {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid #eee;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #fff;
  width: 100%;
  max-width: 35.8125rem;
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  position: absolute;
  width: 1.875rem;
  height: 1.875rem;
  top: 0.625rem;
  right: 0.625rem;
}

.popup__close::before,
.popup__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #000;
  width: 100%;
  height: 1px;
}

.popup__close::before,
.popup__close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__close::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 4.375rem 3.75rem 4.375rem;
}

.popup__image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 2rem;
  height: 3.25rem;
}

.popup__image img {
  max-width: 100%;
}

.popup__image:not(:last-child) {
  margin-bottom: 2rem;
}

.popup__title {
  font-weight: 600;
  line-height: 1;
  color: #000000;
  text-align: center;
}

.popup__title:not(:last-child) {
  margin-bottom: 0.75rem;
}

.popup__labels {
  text-align: center;
  line-height: 1.5;
  color: #000;
  /* 24/16 */
}

.popup__labels:not(:last-child) {
  margin-bottom: 1.5rem;
}

.popup__form:last-child {
  margin-bottom: 2.5rem;
}

.popup__line:not(:last-child) {
  margin-bottom: 1rem;
}

.popup__label {
  line-height: 1.5;
  /* 24/16 */
  color: #000;
}

.popup__label:not(:last-child) {
  margin-bottom: 0.5rem;
}

.popup__input {
  border: 0.0625rem solid #005BBB;
  border-radius: 0.5rem;
  height: 3rem;
}

.banderogoose__action {
  margin-top: 2.5rem;
}

.popup__text--end {
  text-align: center;
  padding: 2rem 4.0625rem 3.5rem 4.0625rem;
}

.end__image {
  display: inline-block;
  text-align: center;
  width: 2rem;
  height: 3.25rem;
}

.end__image img {
  max-width: 100%;
}

.end__image:not(:last-child) {
  margin-bottom: 2rem;
}

.end__title {
  font-weight: 600;
  line-height: 1;
  color: #000;
}

.end__title:not(:last-child) {
  margin-bottom: 0.75rem;
}

.end__text {
  line-height: 1.5;
  color: #000;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  min-height: 6.0625rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: transparent;
}

.header__container {
  padding-top: 2.0625rem;
  padding-bottom: 2.0625rem;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  max-width: 100%;
}

.header__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 7.8125rem;
          flex: 0 1 7.8125rem;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25;
  /* 15/12 */
  color: #010101;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer__container {
  background: -webkit-gradient(linear, right top, left top, from(#C1E8FF), to(#FFFFFF));
  background: -o-linear-gradient(right, #C1E8FF 0%, #FFFFFF 100%);
  background: linear-gradient(270deg, #C1E8FF 0%, #FFFFFF 100%);
  padding: 4.5rem 9.25rem;
}

.page__banderogoose {
  margin-bottom: 3.25rem;
}

.banderogoose {
  background: -webkit-gradient(linear, right top, left top, from(#A5DEFF), to(#FCFEFF));
  background: -o-linear-gradient(right, #A5DEFF 0%, #FCFEFF 100%);
  background: linear-gradient(270deg, #A5DEFF 0%, #FCFEFF 100%);
}

.banderogoose__container {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
  -ms-grid-columns: 44% 56%;
  grid-template-columns: 44% 56%;
}

.banderogoose__content {
  background-color: #fff;
  padding: 3.75rem 4.5625rem 3.75rem 3.5rem;
  margin-top: 7.5rem;
  margin-bottom: 5rem;
}

.banderogoose__label {
  font-weight: 600;
  line-height: 1.5;
  /* 24/16 */
}

.banderogoose__label:not(:last-child) {
  margin-bottom: 1rem;
}

.banderogoose__red-text {
  font-weight: 600;
  line-height: 1;
  color: #FF6B0A;
}

.banderogoose__red-text:not(:last-child) {
  margin-bottom: 3rem;
}

.banderogoose__title {
  font-weight: 600;
  line-height: 1.12;
  /* 72/64 */
}

.banderogoose__title:not(:last-child) {
  margin-bottom: 1.5rem;
}

.banderogoose__text {
  line-height: 1.5;
  /* 24/16 */
  max-width: 27.5rem;
}

.banderogoose__text:not(:last-child) {
  margin-bottom: 3rem;
}

.banderogoose__picter {
  -webkit-transform: translate(96px, 0px);
      -ms-transform: translate(96px, 0px);
          transform: translate(96px, 0px);
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.banderogoose__picter img {
  max-width: 100%;
}

.button {
  background: #FF6B0A;
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
  line-height: 1.5;
  /* 24/16 */
  color: #fff;
  display: inline-block;
  -webkit-box-shadow: 0.125rem 0.125rem 0.4375rem 0.125rem grey;
          box-shadow: 0.125rem 0.125rem 0.4375rem 0.125rem grey;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button:hover {
  background: #f7863b;
  -webkit-box-shadow: 0.0625rem 0.0625rem 0.3125rem 0.0625rem grey;
          box-shadow: 0.0625rem 0.0625rem 0.3125rem 0.0625rem grey;
  -webkit-transform: translate(0px, 3px);
      -ms-transform: translate(0px, 3px);
          transform: translate(0px, 3px);
}

.info-interesting__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-interesting__header:not(:last-child) {
  margin-bottom: 1.5rem;
}

.info-interesting__trident {
  width: 2rem;
  height: 3.25rem;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.info-interesting__trident img {
  max-width: 100%;
}

.info-interesting__trident:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.info-interesting__title {
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
  /* 100/48 */
}

.info-interesting__text {
  line-height: 1.5;
  /* 24/16 */
  text-align: center;
  max-width: 54.6875rem;
}

.articles-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.articles-block__image {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.articles-block__image img {
  max-width: 100%;
}

.articles-block__image:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.articles-block__joint {
  padding: 0.75rem 2.9375rem 0rem 2.9375rem;
}

.articles-block__title {
  font-weight: 600;
  line-height: 1;
}

.articles-block__text {
  line-height: 1.5;
}

@media (min-width: 31.25em) {
  .end__title {
    white-space: nowrap;
  }
}

@media (min-width: 75em) {
  .popup__title {
    font-size: 1.5rem;
  }

  .end__title {
    font-size: 1.5rem;
  }

  .page__interesting-info {
    margin-bottom: 6rem;
  }

  .banderogoose__red-text {
    font-size: 1.5rem;
  }

  .banderogoose__title {
    font-size: 4rem;
  }

  .info-interesting__title {
    font-size: 3rem;
  }

  .articles-block__title {
    font-size: 1.5rem;
  }

  .articles-block__title:not(:last-child) {
    margin-bottom: 2rem;
  }
}

@media (max-width: 75em) {
  .banderogoose__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .banderogoose__picter {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}

@media (max-width: 58em) {
  .info-interesting__header:not(:last-child) {
    margin-bottom: 0;
  }

  .articles-block {
    -ms-grid-columns: (auto)[2];
    grid-template-columns: repeat(2, auto);
  }

  .articles-block__joint {
    padding: 0rem 0.625rem;
  }
}

@media (max-width: 20em) {
  .popup__title {
    font-size: 1.125rem;
  }

  .end__title {
    font-size: 1.375rem;
  }

  .page__interesting-info {
    margin-bottom: 2.5rem;
  }

  .banderogoose__red-text {
    font-size: 1.125rem;
  }

  .banderogoose__title {
    font-size: 1.5rem;
  }

  .info-interesting__title {
    font-size: 1.25rem;
  }

  .articles-block__title {
    font-size: 1.125rem;
  }

  .articles-block__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}

@media (max-width: 56.5625em) {
  .footer__container {
    padding: 1.875rem 0.625rem;
  }
}

@media (max-width: 47.99875em) {
  .banderogoose__content {
    padding: 0.625rem;
    margin-bottom: 0;
  }

  .articles-block {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}

@media (max-width: 36.875em) {
  .popup__text--end {
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  }
}

@media (max-width: 31.25em) {
  .popup__text {
    padding: 1.25rem 1.25rem 0rem 1.25rem;
  }

  .info-interesting__text {
    text-align: start;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
    .popup__title {
      font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
    .popup__title {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.375rem , 1.3295454545rem  +  0.2272727273vw , 1.5rem )) {
    .end__title {
      font-size: clamp( 1.375rem , 1.3295454545rem  +  0.2272727273vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.3295454545rem  +  0.2272727273vw , 1.5rem )) {
    .end__title {
      font-size: calc(1.375rem + 0.125 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.2272727273rem  +  6.3636363636vw , 6rem )) {
    .page__interesting-info {
      margin-bottom: clamp( 2.5rem , 1.2272727273rem  +  6.3636363636vw , 6rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.2272727273rem  +  6.3636363636vw , 6rem )) {
    .page__interesting-info {
      margin-bottom: calc(2.5rem + 3.5 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
    .banderogoose__red-text {
      font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
    .banderogoose__red-text {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.5rem , 0.5909090909rem  +  4.5454545455vw , 4rem )) {
    .banderogoose__title {
      font-size: clamp( 1.5rem , 0.5909090909rem  +  4.5454545455vw , 4rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 0.5909090909rem  +  4.5454545455vw , 4rem )) {
    .banderogoose__title {
      font-size: calc(1.5rem + 2.5 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.25rem , 0.6136363636rem  +  3.1818181818vw , 3rem )) {
    .info-interesting__title {
      font-size: clamp( 1.25rem , 0.6136363636rem  +  3.1818181818vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.6136363636rem  +  3.1818181818vw , 3rem )) {
    .info-interesting__title {
      font-size: calc(1.25rem + 1.75 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
    .articles-block__title {
      font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
    .articles-block__title {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.5511363636rem  +  1.9318181818vw , 2rem )) {
    .articles-block__title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.5511363636rem  +  1.9318181818vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.5511363636rem  +  1.9318181818vw , 2rem )) {
    .articles-block__title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 55);
    }
}
}